---
import CircularProgress from './components/CircularProgress.astro'
import Tooltip from './components/Tooltip.astro'
import ReviewCard from './components/card_review/ReviewCard.astro'
import AddReviewBtn from './AddReviewBtn.astro'
import MainProductRating from './components/MainProductRating.astro'
import { Review } from '../../../../js/types'

interface Props {
  reviews: Review[]
}

const { reviews } = Astro.props

const sumRating = reviews.reduce((acc, review) => {
  return acc + review.rating
}, 0)

const averageRating = (sumRating / reviews.length).toFixed(1)
const averagePercentRating = averageRating * 20
---

<section class="w-full custom-shadow overflow-hidden pt-5">
  <div class="flex justify-start items-center mb-4">
    <h2 class="text-2xl xl:text-3xl font-bold">Отзывы</h2>{
      reviews.length > 0 && (
        <span class="text-2xl xl:text-3xl">
          :{' '}
          <span class="text-xl xl:text-2xl ml-1 font-bold text-orange-500">
            {reviews.length}
          </span>
        </span>
      )
    }
  </div>
  <div
    class=`p-1 pt-5 lg:pt-0 pb-2 border-t border-1 lg:border-none lg:shadow-none ${reviews.length > 0 ? "" : "border rounded-lg"} shadow overflow-hidden dark:border-gray-700 dark:shadow-gray-900 mx-auto`
  >
    <div
      class=`flex justify-between mb-5 lg:p-6 lg:border lg:border-1 lg:rounded-lg lg:items-center ${reviews.length > 0 ? "lg:grid lg:grid-cols-3" : "hidden"}`
    >
      <div class="lg:justify-self-center">
        <MainProductRating
          reviews={reviews}
          averageRating={averageRating}
          averagePercentRating={averagePercentRating}
        />
      </div>

      <div class="lg:border-r lg:border-l lg:border-gray-300 lg:px-4">
        <CircularProgress percentRating={averagePercentRating} />
      </div>

      <div class=`hidden lg:block lg:justify-self-center`>
        <AddReviewBtn reviews={reviews} />
      </div>
    </div>

    <div class=`${reviews.length && "border-t border-gray-200 py-5 lg:hidden"}`>
      <AddReviewBtn reviews={reviews} />
    </div>

    {reviews.map((review) => <ReviewCard review={review} />)}
  </div>
</section>
