---
import getData from '../api/api.js'
import Layout from '../layouts/Layout.astro'
import Footer from '../components/Footer.astro'
import Header from '../components/Header.astro'
import ProductThumbnail from '../components/Thumbnail.astro'
import Breadcrumbs from '../components/Breadcrumbs.astro'
export async function getStaticPaths() {
  const [categories, products] = await getData()
  return categories.map((cat) => {
    return {
      params: { category: cat.uri_category },
      props: { cat, products },
    }
  })
}

const { category } = Astro.params
const { cat, products } = Astro.props
---

<Layout>
  <Header />
  <Breadcrumbs url="" name="На главную" />
  <h1 class="text-2xl">Category: {cat.title}</h1>
  <ul class="flex flex-wrap p-1">
    {
      products.map((product) => {
        if (product.category.id === cat.id && product.is_published) {
          return (
            <ProductThumbnail
              title={product.title}
              price={product.price}
              images={product.images}
              uri={`${product.category['uri_category']}/${product.uri_product}`}
            />
          )
        }
      })
    }
  </ul>
  <Footer />
</Layout>
