---
import Rating from './Rating.astro'
import Likes from './Likes.astro'
interface Review {
  id: number
  author_name: string
  comment: string
  advantages: string
  disadvantages: string
  rating: number
  recommend: boolean
  likes: number
  dislikes: number
}

interface Props {
  review: Review
}

const {
  id,
  author_name: author,
  comment,
  advantages,
  disadvantages,
  rating,
  recommend,
  likes,
  dislikes,
} = Astro.props.review
---

<div
  class="py-5 px-4 lg:px-5 border border-0.5 border-orange-100 rounded-md bg-orange-50 mb-3"
>
  <div class="flex justify-between mb-3">
    <div class="text-left flex-col flex justify-around">
      <div class="font-bold">{author}</div>
      <div class="text-sm text-gray-600">Куплено в Solpower</div>
      <div class="flex gap-2 items-center">
        <Rating rating={rating} />
        <span class="font-bold text-yellow-500 dark:text-yellow-600"
          >{rating}</span
        >
      </div>
    </div>
    {
      Boolean(Number(recommend)) && (
        <div class="text-green-700 flex gap-1 items-start">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="25"
            height="25"
            viewBox="0 0 32 32"
          >
            <path
              fill="currentColor"
              d="m13 24l-9-9l1.414-1.414L13 21.171L26.586 7.586L28 9z"
            />
          </svg>
          Рекомендую
        </div>
      )
    }
  </div>
  <div class="mb-4">
    <div class="mb-3 leading-tight">
      {comment}
    </div>
    <div>
      {
        advantages && (
          <div class="mb-3">
            <div class="font-bold">Преимущества:</div>
            <div class="leading-tight">{advantages}</div>
          </div>
        )
      }
      {
        disadvantages && (
          <div class="mb-3">
            <div class="font-bold">Недостатки:</div>
            <div class="leading-tight">{disadvantages}</div>
          </div>
        )
      }
    </div>
  </div>
  <Likes reviewId={id} likes={likes} dislikes={dislikes} />
</div>
