---
import { Image } from 'astro:assets'
import { Icon } from 'astro-icon'
import html from 'astro/dist/vite-plugin-html'
import ProductSlider from './components/Slider.astro'
import Delivery from './components/Delivery.astro'
import Guarantee from './components/Guarantee.astro'
import CommentForm from './components/testimonials/components/CommentForm.astro'
import Rating from './components/Rating.astro'
import Breadcrumbs from '../general/Breadcrumbs.astro'
import Characteristics from './components/Characteristics.astro'
import Testimonials from './components/testimonials/Testimonials.astro'

interface Props {
  product: object
}
const { category } = Astro.params
const { id, title, description, images, price, quantity, characteristics } =
  Astro.props.product
const { title: category_name } = Astro.props.product.category
---

<section class="pr-2.5 pb-2.5 pl-2.5">
  <Breadcrumbs url={category} name={category_name} />
  <h1 class="font-semibold text-lg leading-tight mb-2.5">
    {title}
  </h1>
  <div class="flex mb-2">
    <Rating />
    <span>9 отзывов</span>
  </div>
  <ProductSlider images={images} />
  <!--Price-->
  <div class="text-xl">
    Цена: <span class="text-xl font-bold">{price} ₴</span>
  </div>
  <div
    class=`${quantity > 0 ? 'text-green-600' : 'text-black'} font-semibold mb-2`
  >
    {quantity > 0 ? 'Есть в наличии' : 'Нет в наличии'}
  </div>
  <form id="productForm" method="get" action="#">
    <button
      id="productBtn"
      class=`mb-5 w-full py-2 px-3 text-lg inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-green-600 text-white hover:bg-green-500 focus:outline-none focus:ring-1 focus:ring-green-600 disabled:opacity-50 disabled:pointer-events-none dark:focus:ring-1 disabled:bg-gray-300 disabled:text-gray-600 dark:focus:ring-gray-600`
      disabled={quantity <= 0}
    >
      <Icon pack="ph" name="shopping-cart-simple" class="w-8" />
       Купить
    </button>
  </form>
  <Delivery quantity={quantity} />
  <Guarantee />
  <section class="mb-5">
    <h2 class="text-2xl font-bold mb-5">Описание</h2>
    <Fragment set:html={description} />
  </section>
  <Characteristics characteristics={characteristics} />
  <Testimonials />
  <CommentForm productId={id} />
</section>
